body {
  font-family: 微软雅黑, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	/*background: #333;*/
	overflow: hidden;
  font-size: 3em;
}
li,ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
li{
  position: absolute;
/*  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;*/
  -webkit-backface-visibility: hidden;
}
#warp{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.cover {
  text-align: center;
  background-color:#dbf3ff;
}
.cover > img {
  width: 55%;
  max-width: 600px;
  border:15 solid #fff;
  -webkit-border-radius: 50%;
  margin-top:30%;
}
.cover > div {
  position: absolute;
  width: 100%;
  bottom: 10%;
}
.cover > div > .cover-title {
  font-weight: bold;
  font-size: 2em;
  color: #23a3d3;
  margin: 0 0 15px 0;
}
.cover > div > .cover-subtitle {
  font-size: 1.5em;
  color: #888888;
  margin: 0;
}
.page {
  background-color:#656d78;
  text-align: left;
  padding: 0;
  color: #cbcbcb;
}
.page > .page-title {
  background-color:#424953;
}
.page > .page-title > h2 {
  font-size: 1.5em;
  line-height: 2;
  margin: 0;
  padding-left: 35px;
}
.page > .page-title > h2.CN {
  color: #22a2d2;
}
.page > .page-detail {
  padding-left: 35px;
}
.page > .page-detail > .page-detail-head {
  line-height: 2;
  margin: 0;
}
.page > .page-detail > .page-detail-head > span:first-child {
  color: #fefefe;
  font-size: 1.2em;
  font-weight: 600;
}
.page > .page-detail > .page-detail-head > span:last-child {
  color: #eb7b7b;
}
.page > .page-detail > table {
  font-size: 0.9em;
  color: #cbcbcb;
}
.page > .page-detail > table tr td {
  vertical-align: top;
  line-height: 2;
}
.page > .page-detail > table tr td:first-child {
  width: 23%;
  color: #fefefe;
}
.page > .page-detail > table tr td:first-child span {
  background-color: #92989f;
  padding: 5px 10px;
}